.custom-ant-table .ant-table-thead > tr > th {
  background-color: theme("colors.stepbgheader");
  color: theme("colors.primary");
}
.custom-ant-table .ant-table-thead > tr > th {
  background-color: #f0f4f7;
  color: #002d62;
  font-weight: 600;
}

.custom-ant-table {
  overflow-y: hidden;
  overflow-x: scroll;
}

.custom-ant-table .ant-table-tbody > tr > td {
  background-color: #ffffff;
}

.custom-ant-table .ant-table-tbody > tr.bg-blue-50 > td {
  background-color: #e6f0ff !important;
}

.custom-ant-table .ant-table-tbody > tr.bg-green-50 > td {
  background-color: #eaf7ee !important;
}

.ant-checkbox-checked {
  background-color: theme("colors.primary");
}
._MBibI {
  background-color: #e5e7eb !important;
}

.tiff-container button:hover {
  background-color: #f0f4f7 !important;
  opacity: 1 !important;
}
.tiff-container div:hover {
  background-color: #f0f4f7 !important;
  opacity: 1 !important;
}
._1mIwz button:not(:disabled):hover {
  background-color: #e5e7eb !important;
  opacity: 0.8 !important;
}

._1mIwz ._MBibI button {
  background-color: #f0f4f7 !important;
  color: theme("colors.primary") !important;
}

._1mIwz ._MiYlF {
  color: #000 !important;
}

._1mIwz ._2Is-l button {
  background-color: #f0f4f7 !important;
  color: theme("colors.primary") !important;
}
.ant-spin .ant-spin-dot-holder {
  color: theme("colors.primary") !important;
}
.ant-spin {
  color: theme("colors.primary") !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: theme("colors.primary");
  border-color: theme("colors.primary");
}
.ant-radio-checked .ant-radio-inner,
.ant-radio-wrapper .ant-radio-checked {
  border-color: theme("colors.primary") !important ;
  background-color: theme("colors.primary") !important;
}
/* Remove Ant yellow/blue focus */
.ant-input:focus,
.ant-input-focused {
  border-color: #002d62 !important; /* primary */
  box-shadow: none !important;
}

/* Remove warning style completely */
.ant-input-status-warning {
  border-color: #a5a5a5 !important;
}
